@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');


:root{
    /** primary color */
    --color-p : #37d610;
    --color-p : #f03c72;
    --color-p : #ffc000 ;
    --color-p :  #6e57e0;;
    --color-white : #fff;
    /** Secondary Color */
    --color-s1 : #fff;
   
    /* *Ascent color */
    --border-color: rgba(0,0,0,0.4);
    --rating-color: #ff9800;

    --font-fam1: 'Poppins', sans-serif;
    --font-fam2: "open-sans";
    --icon-size : 30px;

    /**========== Font and typography ==========*/
    /* .5rem = 8rem, 1rem = 16rem, 1.5rem = 24rem ... */
    --font-p: 14rem;
    --font-h3: 16rem;

    /* **** custom variable */
    --3d-size: 0.6;
    --z-fixed: 100;
}
*{
    /* background-color: red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam1);
    /* outline: 1px solid black; */
    scroll-behavior: smooth;
    
}
html{
    font-size: 1px;
}
body{
    position: relative;
    font-size: 16rem;
    /* overflow: hidden; */
}

/*************************** Table of contents */
/* *Navbar */

/* * footer */



/* ****************************** */
/* *Extra tools */


/**========== Reussabel css  ==========*/
.active_menu{
    /* display: grid; */
    bottom: 35rem;
    background-color: var(--color-white);
}


.pad-t-80{
    padding-top: 80px;
}






/* *************************Navbar************************ */
/* header{
    position: absolute;
} */

/* *****************************Navigation Bar*********************** */

section .header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* position: relative; */
}
nav ul{
    flex-direction: row;
    display: flex;
    box-shadow: 0 0 20rem var(--color-bar);
}

nav ul li{
    list-style: none;
    padding: 10rem 10rem;
    /* border: 1rem solid red; */
    
}
nav ul li a{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--font-color2);
    font-size: var(--font-h2);
}
nav ul li a:hover{
    color: var(--color-p);
    cursor: pointer;
    
}
nav ul li a h2{
    font-size: var(--font-h2);
}
nav ul li a ion-icon{
    font-size: var(--font-icon);
}

/* *********************************navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    
    /* border: 1rem solid var(--font-color); */
   
}

.navbar h2{
    padding: 5rem 5rem 5rem 15rem;
    font-size: var(--font-h2);
}

.navbar .apps{
    padding: 5rem 10rem;
    font-size: var(--font-icon);
}

.navbar .apps ion-icon{
    cursor: pointer;
    margin: 0 15rem;
}
#sun{
    display: none;
}
#closeBtn{
    display: none;
}

/* position botton for navbar  */
@media screen and (min-width:746px) {
    #app {
        display: none;
    }
}
@media screen and (max-width:745px) {
    
    /* * Show Menu  */
    nav ul{
        position: fixed;
        bottom: -30%;
        right: 0;
        box-shadow: 0 0 20rem var(--color-s2);
        background-color: var(--color-white);
        border-radius: 20rem 20rem 0 0 ;
        transition:0.5s;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        width: 100%;
        z-index: 10;
        
    }
    /* * Show Navbar  */
    .navbar{
        position: fixed;
        bottom: 0;
        width: 100vw;
        background-color: var(--color-white);
        z-index: var(--z-fixed);
        box-shadow: 0 0  2rem var(--font-color);
    }
    
}


/* *************************Hero section************************ */
.hero{
    background-color: var(--color-white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
   
    
}
.hero-text{
    padding-top: 200px;
    padding-left: 20px;
    width: 50%;
    /* height: 100vh; */
    /* border: 1px solid black; */
}
.hero-text h1{
    font-size: 25px;
}
.hero-img{
    position: relative;
    
    pointer-events: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
      /* border: 1px solid red; */
      justify-content: center;
    align-content: center;
}
.photo3d{
    background: url(../img/3d.png);
    /* width: 50%; */
    height: 50vw;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(var(--3d-size));
    
    animation: rotate3d 20s linear infinite;
    animation-delay: 0.5s;
   
   
    /* border: 2px solid red; */
 

}
.circle{
    position: absolute;
    background:url("../img/circle.png");
    height: 100vh;
    width: fit-content;
    background-size:contain ;
    background-repeat: no-repeat;
    transform: scale(1);
    /* animation: rotate3d 20s linear infinite; */
    animation-delay: 2.5s;
}
@keyframes rotate3d {
 0%{
     transform: rotate(0deg) scale(var(--3d-size));
    }   
    50%{
        transform: rotate(-180deg) scale(calc(var(--3d-size)*1.5));
 }   
    100%{
        transform: rotate(-360deg) scale(var(--3d-size));
 }   
}
@media screen and (max-width:745px) {
    .hero{
        flex-direction: column-reverse;
    }
    .hero-text{
        min-width: 50%;
        width: 500px;
    }
    .hero-img{
        min-width: 50%;
        width: 500px;
    }

}