@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,200&display=swap');


:root{
    /** primary color */
    --color-p : #37d610;
    --color-p : #f03c72;
    --color-p : #ffc000 ;
    --color-p : #dacbea;
    --color-p : #fff;
    /** Secondary Color */
    --color-s1 : #fff;
   
    /* *Ascent color */
    --border-color: rgba(0,0,0,0.4);
    --rating-color: #ff9800;

    --font-fam1: 'Poppins', sans-serif;
    --font-fam2: "open-sans";
    --icon-size : 30px;

    /**========== Font and typography ==========*/
    /* .5rem = 8rem, 1rem = 16rem, 1.5rem = 24rem ... */
    --font-p: 14rem;
    --font-h3: 16rem;
    /* **** custom variable */
    --3d-size: 0.6;
}
*{
    /* background-color: red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-fam1);
    /* outline: 1px solid black; */
    scroll-behavior: smooth;
    
}
html{
    font-size: 1px;
}
body{
    position: relative;
    font-size: 16rem;
    /* overflow: hidden; */
}

/*************************** Table of contents */
/* *Navbar */

/* * footer */



/* ****************************** */
/* *Extra tools */









/* *************************Navbar************************ */
header{
    position: absolute;
}
/* *************************Hero section************************ */
.hero{
    background-color: var(--color-p);
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    width: 100%;
    height: 100vh;
   
    
}
.hero-text{
    padding-top: 200px;
    padding-left: 20px;
    width: 50%;
    height: 100vh;
}
.hero-text h1{
    font-size: 25px;
}
.hero-img{
    position: relative;
    
    pointer-events: none;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
      /* border: 2px solid red; */
      justify-content: center;
    align-content: center;
}
.photo3d{
    background: url(../img/3d.png);
    /* width: 50%; */
    height: 50vw;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(var(--3d-size));
    
    animation: rotate3d 20s linear infinite;
    animation-delay: 0.5s;
   
   
    /* border: 2px solid red; */
 

}
.circle{
    position: absolute;
    background:url("../img/circle.png");
    height: 100vh;
    width: fit-content;
    background-size:contain ;
    background-repeat: no-repeat;
    transform: scale(1);
    /* animation: rotate3d 20s linear infinite; */
    animation-delay: 2.5s;
}
@keyframes rotate3d {
 0%{
     transform: rotate(0deg) scale(var(--3d-size));
    }   
    50%{
        transform: rotate(-180deg) scale(calc(var(--3d-size)*1.5));
 }   
    100%{
        transform: rotate(-360deg) scale(var(--3d-size));
 }   
}

/* Extra tools */
.pad-t-80{
    padding-top: 80px;
}